<div class="container application-navigator">
  <div class="level">

    <div class="level-left" {{action 'toggleUserMenu'}}>
      <div class="level-item">
        <img src="https://placehold.it/100x100" height="30" />
      </div>
      <div class="level-item">
        {{team.name}}
        {{fa-icon "chevron-down"}}
      </div>
    </div>

    <div class="level-right">

      <div class="level-item">
        {{input type="text" placeholder="Search for anything" value=query}}
      </div>

      <div class="level-item">
        <div class="button" {{action 'openCreateCard'}}>
          <span>Create Card</span>
        </div>
      </div>
      <div class="level-item">
        {{notification-bell notifications=notifications}}
      </div>
    </div>

  </div>
</div>

{{#if showUserMenu}}
  {{application-navigator/user-menu team=team}}
{{/if}}
